.equipe-details-page {
  margin-left: 250px; /* largeur de la sidebar */
  padding-top: 2rem;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.equipe-details-page h2 {
  margin-bottom: 1.5rem;
  color: #198754;
}
